<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC2ylMxsf4It47lsAauWcRzJbDXIHAu5fQ</string>
	<key>GCM_SENDER_ID</key>
	<string>164820726470</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Susher99.TakeThat</string>
	<key>PROJECT_ID</key>
	<string>takethat-75e6e</string>
	<key>STORAGE_BUCKET</key>
	<string>takethat-75e6e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:164820726470:ios:4dbc39f2d0120620995dc7</string>
</dict>
</plist>